/**
 * Created by Noah on 05/12/2016.
 */
.chart {
    -fx-padding: 10px;
    -fx-background-image: url("black.jpg");
}

.chart-content {
    -fx-padding: 30px;
}
 
.chart-title {
  -fx-text-fill: #ADFF2F;
  -fx-font-size: 1.8em;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #ADFF2F;
}

.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.axis {
    -fx-font-size: 1.2em;
    -fx-tick-label-fill: #ADFF2F;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: #ADFF2F;
}
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}